@import "../../Utils/variables.scss";
@import "../../Utils/keyframes.scss";

.contact {
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;

            &--wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    text-align: left;
                    font-size: 14px;
                    font-weight: 800;
                }

                input {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    width: 96%;
                    background: rgba($text, 0.1);
                    border-radius: 25px;
                    border: none;
                    outline-color: $primary;
                }

                input[name="captcha"] {
                    width: 30%;
                }

                select {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    background: rgba($text, 0.1);
                    border-radius: 25px;
                    border: none;
                    outline-color: $primary;
                }

                textarea {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    height: 100px;
                    background: rgba($text, 0.1);
                    border-radius: 15px;
                    border: none;
                    outline-color: $primary;
                }
            }

            &--wrapper:first-child {
                display: flex;
                flex-direction: row;
                gap: 20px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 50%;

                    input {
                        width: 93%;
                    }
                }
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $primary;
            color: $text;
            font-weight: 800;
            box-shadow: $light-box-shadow;
            border: none;
            border-radius: 25px;
            padding: 10px 15px;
            margin-left: 30px;
            width: 15%;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease-in-out 0.1s;

            &:hover {
                transform: scale(110%);
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba($primary, 0.5);
                box-shadow: $very-light-box-shadow;
                border-radius: 25px;
                opacity: 0;
                z-index: -1;
                transition: opacity 0.3s ease-in-out 0.1s;
            }
        }

        .clicked {
            animation: clicked 0.5s forwards;
        }

        .confirm {
            margin: 0 0 20px 30px;
            animation: fadeIn 1s ease-in-out, fadeOut 1s ease-in-out 4s forwards;
        }

        .error {
            color: red;
            font-size: 14px;
            margin: 0 0 20px 30px;
        }
    }
}