.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 30px 30px 50px 30px;

    &__title {
        font-size: 24px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;

            &--wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    text-align: left;
                    font-size: 14px;
                }

                input {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    width: 97%;
                    font-family: 'Manjari';
                }

                select {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    font-family: 'Manjari';
                }

                textarea {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    height: 100px;
                    font-family: 'Manjari';
                }
            }

            &--wrapper:first-child {
                display: flex;
                flex-direction: row;
                gap: 20px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 50%;

                    input {
                        width: 93%;
                    }
                }
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            margin-left: 30px;
            width: 15%;
            font-family: 'Manjari';
            font-weight: 800;
        }
    }
}