@import url('https://fonts.googleapis.com/css?family=Krub:700|Manjari:400');

body .App {
  margin: 0;
  font-family: 'Manjari', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Krub';
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}