@import url('https://fonts.googleapis.com/css?family=Krub:700|Manjari:400');
@import "./Utils/variables.scss";

body .App {
  font-family: $text-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  background: $background;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  margin: auto;
  box-sizing: border-box;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $title-font;
    font-weight: 700;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, label, select, textarea, button {
  font-family: $text-font;
}

// Background Wave
.waveBg {
  background: url(../public/img/Wave.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

// Effet Highlight sur les titres
.title-container {
  position: relative;
  display: inline-block;
}

