@import "../../Utils/variables.scss";

.textandimage {
    display: flex;
    gap: 30px;
    padding: 40px;
    margin: 30px auto;
    width: 1040px;
    max-width: 1040px;

    &--reverse {
        flex-direction: row-reverse;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 25px 0;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        align-self: start;

        &--align-end {
            align-self: end;
        }
    }

    &__text {
        width: 80%;
        font-weight: 400;
        text-align: justify;
    }

    &__illustration {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: $light-box-shadow;
    }
}