// colors
$text: #100909;
$background: #ffffff;
$primary: #e09370;
$secondary: #a9d0ba;
$accent: #8ab6bf;

// box shadow
$box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.5);
$box-shadow-hover: 0px 3px 10px 3px rgba(0,0,0,0.7);