@import "../../Utils/variables.scss";
@import "../../Utils/mixins.scss";

.news {
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px 0;
    background: $secondary;

    &__container {
        width: 85vw;
        margin: auto;
    }

    &__title {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        text-align: center;

        @include tablet {
            gap: 20px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 22vw;
        padding: 30px;
        background: rgba($background, 0.8);
        border-radius: 15px;
        box-shadow: $light-box-shadow;

        @include tablet {
            width: 85vw;
        }

        &--text {
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba($accent, 0.2);
        border-radius: 15px;
        padding: 10px;

        &--title {
            font-family: $text-font;
            font-size: 22px;
        }

        &--date {
            font-size: 18px;
            font-weight: 400;
        }
    }
}

#News {
    scroll-margin-top: 80px;
}