@import "../../Utils/variables.scss";

.news {
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px 0;
    background: $secondary;

    &__container {
        width: 85vw;
        margin: auto;
    }

    &__title {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // align-items: center;
        align-items: stretch;
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 22vw;
        padding: 25px;
        background: $background;
        border-radius: 7px;
        box-shadow: $box-shadow;

        &--text {
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--title {
            font-size: 20px;
        }

        &--date {
            font-size: 14px;
            font-weight: 400;
        }
    }
}